
li { 
    list-style-type: none;
}

body {
background-color: black;    
 } 

a { 
  text-decoration: none; color: #000;  /* text-decoration es negrita, cursiva y lo otro el color */
}
.link { 
    display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     text-decoration: none; color: #c6c6c6;  /* text-decoration es negrita, cursiva y lo otro el color */
    margin-bottom: 10px;
  }

#contenedorSeries{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
#contenedorPelis{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;

}
#tituloGenero {
    justify-content: center;
    color: #c6c6c6;
    font-size: xx-large;
    text-align: center;
}
#tituloSecundario {
    justify-content: flex-start;
    color: #c6c6c6;
    font-size: x-large;
    margin-left: 10px;
}
#tituloSecundario2 {
    justify-content: flex-start;
    color: #c6c6c6;
    font-size: x-large;
    margin-left: 10px;
}
.mismoGenero {
    display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: #4a4fa2;
   height: 400.5x;
   width: 200px;
   border-radius: 15px 15px 15px 15px; 
   margin-bottom: 10%;
   margin-left: 2%;
 
 }

 .imagen_generos {
    height: 200px;
    width: 200px;
    margin: 0;
    border-radius: 15px 15px 15px 15px;
}
.link { 
    display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     text-decoration: none; color: #c6c6c6;  /* text-decoration es negrita, cursiva y lo otro el color */
    margin-bottom: 10px;
}

    #noExisteGenero {

        display: flex;
        justify-content: center;
        font-size: xx-large;
        color: #c6c6c6;
        height: 600px;
    }
h2.tituloPeliGenero { 
    display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     text-decoration: none; color: #c6c6c6;  /* text-decoration es negrita, cursiva y lo otro el color */
    margin-bottom: 10px;
  }
    











@media (max-width: 550px) {
    .annie-ft {
        height: 90px;
        width: 160px;
        margin: 0;
        border-radius: 15px 15px 15px 15px;
        margin-left: 5%;  
   }
    
    .go-ft {
        height: 90px;
        width: 160px;
        margin: 0;
        border-radius: 15px 15px 15px 15px;
        margin-left: 5%;
   }
    
    .sing-ft {
        height: 90px;
        width: 160px;
        margin: 0;
        border-radius: 15px 15px 15px 15px;
        margin-left: 5%;
   }
    .matilda-ft {
        height: 90px;
        width: 160px;
        margin: 0;
        border-radius: 15px 15px 15px 15px;
        margin-left: 5%;
   }
   .titulo-annie {
    margin-left: 5%;
    }
.titulo-go {
    margin-left: 5%;
        }
.titulo-sing {
    margin-left: 5%;
        }
.titulo-matilda {
    margin-left: 5%;
        }
}