*{box-sizing: border-box;}

body {
    background-color: black;
}

main{
    display: flex;
    flex-direction: column;
}

.mitad1 { 
    display: flex;
    flex-direction: column;
    border: solid black 5px;
}
.mitad1 div{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}
.mitad1 div article { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #c6c6c6;
    height: 40px;
    width: 100%;
    border-radius: 15px 15px 15px 15px; 
    margin: 5px;
}
.calificacion,.fav {
    text-align: center;
    justify-content: center;
    font-size: larger;   
}
.cali img {
    height: 20px;
}

 a { 
    text-decoration: none; 
    color: #000; 
 }

.serie {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;    
}

.otra_mitad{ 
    background-color:black;
    display: flex;
    flex-direction: column;
    width: 100%;  
    border: 5px black solid;
}
.otra_mitad article {
    display: flex;
    
}
.titulo {
    display: flex;
    background-color: #4a4fa2;
    margin-left: 100px;
    margin-right: 100px;
    height: 50px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10px;
    align-items: center;
}


.gilmore { 
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #c6c6c6;
    font-size: x-large;
    justify-content: center;
}
.detalles {
    display: flex; 
    background-color: black;
    
   

}
.detalles ul { 
   
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-inline-start: 0;

    
}
.generico {
    background-color: #c6c6c6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.detalles li { 
    text-decoration: none;
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
}



.sinopsis, .rep {
    display: flex;
    background-color: #000000;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
}


.resumen, .titulo3 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 5px;
    font-size: large;
    width: 30%;
    align-content: center;
    background-color:#c6c6c6;
    border-radius: 15px 15px 15px 15px;
}
.texto {

    border-radius: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c6c6c6;
    height: 200px;
}
.texto p {
    margin-right: 15 px;
    margin-left: 15px;

}

@media (max-width: 750px) {
    .texto {
        height: auto;
    }
    .texto p {
        font-size: 18px;
    }

}
@media (max-width: 620px)


{
    .mitad1 div {
        
        flex-direction: column;
        width: 100%;

    }
    .fav, .cali {
        width: 600px;

    }
    .detalles ul {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .titulo {
        margin-left: 0px;
        margin-right: 0px;
       
    }
   
    
}
