footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #c6c6c6;
  margin-left: 2%;
}

.textofooter {
  color: #4a4fa2;
  font-size: larger;
  margin-bottom: 3%;
}

.imagenlogo {
  margin-right: 5%;
}