*{box-sizing: border-box;}
header {
   background-color:  #c6c6c6;
    display: flex;
    flex-direction: column;
    
}

.clase { 
    background-color:#4a4fa2 ;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    
}
.imagen {
    display: flex;
    justify-self: flex-end;
    
}
img {
    
    height: 110px;
    width: 130px;
    
     
}
 
.lista {
    background-color:  #c6c6c6;
    display: flex;
    justify-content: space-around;
    flex-direction: row;  
}
     
.gen {
    text-decoration: none;
    margin: 5px;
    list-style-type: none;
}

.formula {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 80%;
    
}
.formulario {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.cuadro {
    font-size: x-large;
    width: 70%;
    border-radius: 15px 0 0 15px;
    background-color:  #c6c6c6;
    color: white;
}
.boton {
    border-radius: 0 15px 15px 0;
    height: 35px;
    background-color:  #c6c6c6;
}

