a { 
    text-decoration: none; color: #000;  /* text-decoration es negrita, cursiva y lo otro el color */
  }

body {
    background-color: black; 
     } 
   
     .resultados {
        text-align: center;
        color: #c6c6c6;
        margin: 20px;
        
    }
     
    .lista-resultados {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        background-color: #4a4fa2;
        height: 300px;
        width: 100%;
        border-radius: 15px 15px 15px 15px; 

    }

 
    .favs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: darkgrey;
        width: 80%;
        border-radius: 0px 15px 15px 15px; 
        border: #c6c6c6 solid 5px;
        margin: 5px;
        font-size: 20px; 
        height: 50px; 
        margin-right: 2%;
        
    
    }

.imagenmat {
display: flex;
flex-direction: column;
justify-content: center;
width: 400px; 
max-width: 100%; 
height: auto; 
margin: 0;
border-radius: 15px 15px 15px 15px;
margin-left: 4%; 
    
        }

.artimagen {
display: flex;
flex-direction: column;
justify-content: center;
        }

.informacion { 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 2%;
        
        }

.titulopeli {
font-size: 20px;
color: #c6c6c6;

}

@media (max-width: 550px) {
.lista-resultados {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.imagenmat {
    width: 360px;
    margin-top: 10%;
}

.artimagen {
margin-right: 4%;
justify-content: center;
align-items: center;
}
.informacion {
margin-top: 5%;
margin-bottom: -100px;
}
}