*{box-sizing: border-box;}






body {
    background-color: black;
   

}


main{
    display: flex;
    flex-direction: column;
}

.mitad1 { 
    display: flex;
    flex-direction: column;
    border: solid black 5px;
    

}
.mitad1 div{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
}
.mitad1 div article { 
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #c6c6c6;
    height: 40px;
    border-radius: 15px 15px 15px 15px; 
   margin: 5px;
   flex-direction: row;
}
.calificacion,.fav {

    text-align: center;
    justify-content: center;
    font-size: larger;   

}
.cali img {

    height: 90px;
}

a { 
    text-decoration: none; color: #000;  
  }

.pelicula {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    

     
}
.imatilda {
    width: 850px;
    height: 450px;
    
}

.otra_mitad{ 
    background-color:black;
    display: flex;
    flex-direction: column;
    width: 100%;  
    border: 5px black solid;
}
.otra_mitad article {
    display: flex;
    
}
.titulo {
    display: flex;
    background-color: #4a4fa2;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #4a4fa2;
    height: 50px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10px;
}


.matilda { 
    
    text-align: center;
    width: 100%;
}
.detalles {
    display: flex; 
    background-color: black;
    height: 80px;
   

}
.detalles ul { 
   
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.generico {
    background-color: #c6c6c6;
}
.detalles li { 
    text-decoration: none;
    list-style-type: none;
}



.sinopsis, .rep {
    display: flex;
    background-color: #000000;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
}


.resumen, .titulo3 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 5px;
    font-size: large;
    width: 30%;
    align-content: center;
    background-color:#c6c6c6;
    border-radius: 15px 15px 15px 15px;
}
.texto {
    border-radius: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c6c6c6;
    height: 200px;
}

.texto p {
    margin-right: 15 px;
    margin-left: 15px;
}